body,
html {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

body {
  --error-color: #f44336;
  --accent-color: #2196f3;
  --primary-text-color: #000;
  --primary-color: #e91e63;
  --secondary-text-color: #707070;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f6f6f6;
  --dark-divider-opacity: 0.12;
  --divider-color: rgba(0, 0, 0, var(--dark-divider-opacity));
  --link-color: #0047b2;

  --anypoint-color-primary: rgba(0, 0, 0, 0.74);

  --anypoint-dropdown-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  --anypoint-autocomplete-dropdown-shadow: var(--anypoint-dropdown-shadow);
  --anypoint-button-emphasis-high-background-color: var(--accent-color);
  --anypoint-checkbox-label-color: var(--primary-text-color);

  --code-font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;

  --anypoint-menu-button-border-radius: 8px;

  /* Selection */
  --outline-color: #000;

  /* Disabled state */
  --disabled-opacity: .38;
  --disabled-text-color: rgba(0, 0, 0, var(--disabled-opacity));

  /* Lists */
  /* when a list item is selected */
  --list-active-background: #e3f2fd;
  /* when hovering over a list item  */
  --list-hover-background: rgba(0, 0, 0, 0.08);
  /* when highlighting a list item  */
  --list-highlight-background: rgba(0, 0, 0, 0.12);
  /* when focusing within a list item  */
  --list-focus-background: rgba(0, 0, 0, 0.04);
  --list-item-height: 40px;
  --list-item-two-line-height: 72px;
}

a {
  color: var(--link-color);
}
